* {
  margin: 0;
  padding: 0;
}
body,
html {
  --rose: #f43f5e;
  --slate: #f8fafc;
  --light-rose: #fecdd3;
  --shadow: rgb(211, 210, 210);
  --button-size: 100px;
  background-color: var(--slate);
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
.title,
h1 {
  font-size: 72px;
  font-family: "Oswald", sans-serif;
}
.header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}
.sidebar {
  z-index: 1;
  flex: 1;
  background-color: grey;
  box-shadow: 5px 5px 5px rgba(148, 148, 148, 0.5);
  position: sticky;
  top: 0;
}
.description{
  margin-left: 20px;
  padding: 8px;
}
.library {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}
.add-book {
  /* height: var(--button-size);
  width: var(--button-size);
  background-color: var(--rose);*/
  cursor: pointer;

  position: fixed;
  bottom: 50px;
  right: 50px;
  outline: none;
  border: none;
}
.hide {
  display: none;
}
.row h1{
  font-size: 32px;
}
form {
  position: fixed;
  z-index: 1;
  top: 25%;
  left: 35%;
  /*margin: auto;*/
  background-color: var(--light-rose);
  border-radius: 12px;
  box-shadow: 5px 5px 5px var(--shadow);
  width: 300px;
}
fieldset div:first-child {
  display: flex;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.row {
  display: flex;
  flex-direction: column;
}
.row.radios {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
input[type="text"],
input[type="number"] {
  width: 90%;
  border: none;
  border-radius: 12px;
  background-color: rgb(236, 236, 236);
  padding-left: 8px;
}
input[type="text"]:focus-visible,
input[type="number"]:focus-visible {
  outline: 2px solid black;
}
input[type="submit"] {
  /*margin: 16px;*/
  margin: 8px;
  font-size: 1.2em;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
}
input[type="submit"]:hover {
  background-color: #bbbbbb;
}
.card {
  background-color: #e2e8f0;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 12px;
  box-shadow: 5px 5px 5px #9e9e9e;
  display: flex;
  flex-direction: column;
}
.card .margin {
  width: 100%;
  min-height: 40px;
  border-radius: 12px 12px 0 0;
}
.card .margin.read {
  background-color: #a3e635;
}
.card .margin.not-read {
  background-color: #ef4444;
}
.card .content {
  display: flex;
  padding: 12px 12px 12px 12px;
  flex-direction: column;
  font-size: 1.5em;
  inline-size: 90%;
  overflow-wrap: break-word;
  overflow: auto;
}
.delete {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background: url("icons/trash-can-outline.svg");
  background-size: 24px 24px;
  cursor: pointer;
}
.error {
  font-size: 0.7em;
  color: #dc2626;
}
.read-buttons {
  border-radius: 24px;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  font-family: "Lato", sans-serif;
  font-size: 0.7em;
  width: 120px;
}
.read {
  background-color: #a3e635;
}
.not-read {
  background-color: #ef4444;
}
.read:hover {
  background-color: #83b92b;
}
.not-read:hover {
  background-color: #bb3535;
}
.card > div:last-child {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 8px;
  margin-top: auto;
  gap: 16px;
}
.content>div:nth-child(odd){
  font-size: 0.5em;
  border-bottom: 1px rgb(95, 95, 95) solid;
}
