* {
  margin: 0;
  padding: 0;
}
body,
html {
  --rose: #f43f5e;
  --slate: #f8fafc;
  --light-rose: #fecdd3;
  --shadow: rgb(211, 210, 210);
  --button-size: 100px;
  background-color: var(--slate);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  font-family: "Lato", sans-serif;
}
.title,
h1 {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}
.sidebar {
  flex: 1;
  background-color: var(--rose);
  position: sticky;
  top: 0;
}
.library {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: flex-start;
  align-items: flex-start;
}
.add-book {
  /* height: var(--button-size);
  width: var(--button-size);
  background-color: var(--rose);*/
  cursor: pointer;

  position: fixed;
  bottom: 50px;
  right: 50px;
  outline: none;
  border: none;
}
.hide {
  display: none;
}
form {
  position: fixed;
  top: 25%;
  left: 35%;
  /*margin: auto;*/
  background-color: var(--light-rose);
  border-radius: 12px;
  box-shadow: 5px 5px 5px var(--shadow);
  width: 300px;
}
fieldset div:first-child {
  display: flex;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: column;
}
.row:last-child {
  flex-direction: row;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
input[type="text"],
input[type="number"] {
  width: 90%;
  border: none;
  border-radius: 12px;
  background-color: rgb(236, 236, 236);
  padding-left: 12px;
}
input[type="text"]:focus-visible,
input[type="number"]:focus-visible {
  outline: 2px solid var(--slate);
}
.card {
  background-color: #e2e8f0;
  width: 200px; 
  height: 200px;
}
.card .content {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}
